.button{
	-fx-font: 30px "Bold Italic";
	-fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button:hover{
	-fx-text-fill: #932b2b;
}

.label#playername{
	-fx-font: 30px "Bold Italic";
	-fx-text-fill: #FFFFFF;
}

.label{
	-fx-text-fill: transparent;
	
}

