.button{
	-fx-background-color: transparent;
	-fx-text-fill: #FFFFFF;
}

.button:hover{
	-fx-text-fill: #932b2b;
}

.button#black{
    -fx-background-color: #000000;
}

.button#red{
    -fx-background-color: #ab0303;
}

.button#blue{
    -fx-background-color: #030c6e;
}

.button#green{
    -fx-background-color: #09a161;
}

.button#orange{
    -fx-background-color: #e58006;
}

.label{
	-fx-font: 30px "Bold Italic";
	-fx-text-fill: #FFFFFF;
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button#easy, .button#medium, .button#hard{
	-fx-pref-width: 80px;
}

.button:focused{
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #8f9090;
}

.button#back{
	-fx-font: 20px "Bold Italic";
}

.polygon{
	-fx-fill: #FFFFFF;
}
